#destaques .container .row {
  display: flex;
  justify-content: space-around;
}

#faleconosco form {
  font-size: 20px;
  background-color: var(--cor2);
  color: var(--cor4);
  max-width: 400px;
  height: fit-content;
  margin: auto;
  padding: 20px;
}

#faleconosco {
  padding: 10%;
  height: 91vh;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

#mensagem {
  height: 100px;
  text-wrap: wrap;
}

input[type="submit"] {
  width: 30%;
  border-radius: 20px;
  background-color: var(--cor3);
  border: none;
  color: var(--cor4);
}