:root {
  --cor1: #191a24;
  --cor2: #35374d;
  --cor3: #23c676;
  --cor4: #e2e2e2;
}

.carousel-item {
  height: 40vh;
}

.categoria {
  text-align: center;
  max-width: min-content;
  margin: 0 20px;
}

.categoria a {
  color: var(--cor4);
  display: inline;
}

#img-rpg{
  background-image: url(../img/rpg.jpg);
}

#img-tiro{
  background-image: url(../img/tiro.jpg);
}

#img-esportes{
  background-image: url(../img/esportes.png);
}

#img-puzzle{
  background-image: url(../img/puzzle.jpg);
}

.img-categoria {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 20px 0;
}

.img-categoria:hover{
  transition: ease .5s;
  transform: scale(1.1);
  box-shadow: var(--cor4) 0 0 20px;
}

a:hover h3{
  transition: ease .5s;
  color: var(--cor3);
}

#destaques {
  background-color: var(--cor2);
  padding: 20px 0 50px 0;
}

#categorias{
  padding: 40px 10vw;
}

.carousel-item {
  align-items: center;

}