#banner {
  height: 40vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#banner img{
  width: 100%;
  height: max-content;
}

#capajogo img {
  height: 400px;
  display: block;
  box-shadow: black 0 0 10px;
}

#capajogo {
  width: 300px;
  height: max-content;
  min-width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#botao {
  background-color: var(--cor3);
  color: var(--cor4);
  border-radius: 40px;
  padding: 20px 0px;
  width: 100%;
  border: none;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}

#container {
  display: flex;
  position: relative;
  top: -70px;
  padding: 0 10vw;
}


h2 {
  text-align: left;
  font-size: 40px;
  margin-bottom: 30px;
  text-shadow: black 0 0 20px;
}

#texts {
  color: var(--cor4);
  margin-left: 20px;
}

#texts p {
  font-size: 25px;
  margin-top: 30px;
}

.spinner-border{
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (max-width: 778px) {
  #container {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  #banner {
    height: fit-content;
  }
}
