#sobre-nos {
  max-width: 600px;
}

#sobre-nos p {
  color: var(--cor4);
  font-size: 20px;
}

#nomes-com-avatars ul li {
  flex: 1;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#nomes-com-avatars a {
  text-decoration: none;
  color: var(--cor4);
  margin-left: 10px;
}

#nomes-com-avatars a:visited {
  color: var(--cor4);
}

#nomes-com-avatars a:hover {
  color: var(--cor3);
}

.flex-container {
  display: flex;
  color: var(--cor3);
  padding: 10%;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 91vh;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
