:root{
    --cor1: #191A24;
    --cor2: #35374D;
    --cor3: #23C676;
    --cor4: #e2e2e2;
}

*{
    font-family: 'Questrial', sans-serif;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--cor1);
}

nav{
    background-color: var(--cor1);
}

#navbarSupportedContent ul li a{
    color: var(--cor4);
}

#navbarSupportedContent ul li a:hover{
    color: var(--cor3);
}

.dropdown-menu{
    background-color: var(--cor2);
}

.carousel-item{
    height: 40vh;
}

h2{
    font-family: 'Dela Gothic One', monospace;
    color: var(--cor3);
    text-align: center;
    font-size: 40px;
    padding: 20px;
    text-transform: uppercase;
}

#categorias{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Layout responsivo com Grid */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.categoria{
    text-align: center;
}

.categoria a{
    color: var(--cor4);
}

.img-categoria{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(../img/fifa24.webp);
    background-size: cover;
    margin: 20px auto;
}

#destaques .container img{
    width: 200px;
    background-color: var(--cor1);
}

#destaques .container .row{
    display: flex;
    justify-content: space-around;
}

.produto{
    background-color: var(--cor2);
    padding: 20px 10px;
    text-align: left;
    color: var(--cor4);
    max-width: min-content;
    margin: 20px;
}