:root {
  --cor1: #191a24;
  --cor2: #35374d;
  --cor3: #23c676;
  --cor4: #e2e2e2;
}

* {
  font-family: "Questrial", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--cor1);
}

nav {
  background-color: var(--cor2);
}

#navbarSupportedContent ul li a {
  color: var(--cor4);
}

#navbarSupportedContent ul li a:hover {
  color: var(--cor3);
}

.dropdown-menu {
  background-color: var(--cor2);
}

h1 {
  font-family: "Dela Gothic One", monospace;
  color: var(--cor3);
  text-align: center;
  font-size: 40px;
  padding: 20px;
  text-transform: uppercase;
}

h2 {
  font-family: "Dela Gothic One", monospace;
  color: var(--cor3);
  text-align: center;
  font-size: 25px;
  padding: 20px;
  text-transform: uppercase;
}

footer {
  background-color: var(--cor2);
  color: var(--cor4);
  height: 3vh;
}

footer p {
  margin-left: 20px;
  text-align: left;
}

#categoria, .container1{
  min-height: 91vh;
}
